* {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-family: "Bebas Neue";
}

.header {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: white;
}

.header__logo {
  margin: auto;
  line-height: 100px;
  max-width: 100px;
  background-size: cover;
  text-decoration: none;
  color: #000;
}

.header__titulo {
  font-size: 1.2rem;
  line-height: 100px;
  color: black;
  text-decoration: none;
  margin-left: 15px;
}

.header__nav {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  color: black;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__nav__nav__subrayado:hover {
  text-decoration: underline;
}

.header__nav--subrayado {
  margin: 1.5rem;
  text-decoration: none;
  color: #000;
}

.header__nav--subrayado:hover {
  text-decoration: underline;
}

.logo {
  margin: 10px;
}

.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.icono-menu {
  background: none;
  border: none;
  font-size: 30px;
  line-height: 100px;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .icono-menu {
    background: none;
    border: none;
    display: block;
    padding: 0 20px;
  }
  .header {
    height: 100px;
  }
  .header__logo {
    max-width: 70px;
  }
  .header__nav {
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    position: fixed;
    left: 0;
    top: 100px;
    width: 100%;
    padding: 20px;
    background-color: #2a2a2a;
    height: calc(100% - 70px);
    overflow-y: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    left: 100%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    z-index: 1;
  }
  .header__nav--subrayado {
    color: white;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-transform: uppercase;
  }
  .logo {
    margin: 10px;
  }
  .logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
  }
  .header__nav__visible {
    left: 0;
  }
  .icono-menu:focus:not(:focus-visible) {
    outline: none;
  }
}

.inicio {
  background-image: url(/backgroundprueba/3beer.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  contain: style;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-position: 50% 50%;
}

.inicio__sircharly {
  color: #ba181b;
  font-size: 5rem;
  font-weight: 100;
  padding: 0rem 4rem 0rem 0rem;
}

.inicio__frase {
  font-size: 1.7rem;
  padding: 0rem 3.2rem 0rem 0rem;
}

.inicio .boton__tienda {
  font-family: "Bebas Neue";
  font-size: 1.7em;
  background-color: transparent;
  border: groove;
  font-weight: 100;
  padding: 0px 2rem;
  margin: 0rem 7.8rem;
  text-decoration: none;
  color: black;
}

.inicio .boton__tienda:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  background-color: rgba(143, 135, 135, 0.322);
}

@media (max-width: 1024px) {
  .inicio {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 85vh;
  }
  .inicio__sircharly {
    text-align: center;
    padding: 0;
  }
  .inicio__frase {
    font-size: 1.7rem;
    padding: 0rem 3.2rem 0rem 0rem;
  }
}

@media (max-width: 768px) {
  .inicio {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60vh;
  }
  .inicio__sircharly {
    text-align: center;
    padding: 0;
  }
  .inicio__frase {
    padding: 0;
  }
}

@media (max-width: 425px) {
  .inicio {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 35vh;
  }
  .inicio__sircharly {
    text-align: center;
    padding: 0;
  }
  .inicio__frase {
    padding: 0;
  }
}

@media (max-width: 375px) {
  .inicio {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 32vh;
  }
  .inicio__sircharly {
    text-align: center;
    padding: 0;
  }
  .inicio__frase {
    padding: 0;
  }
}

.estilo__display {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  text-align: center;
  color: white;
}

.estilo__imagen {
  width: 100%;
  height: 100%;
}

.estilo__beer {
  background-color: black;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .estilo__display {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
  }
  .estilo__imagen {
    width: 100%;
    background-color: #161a1d;
  }
}

.comienzo {
  height: 70vh;
  background-position: 50% 50%;
  background-image: url(/backgroundprueba/sircharly.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.comienzo__titulo {
  font-size: 3rem;
}

.nuestra__leyenda {
  background: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nuestra__leyenda--titulo {
  font-size: 3rem;
  color: white;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.leyenda {
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.leyenda__texto {
  background-color: #161a1d;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  padding: 2rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.leyenda__titulo {
  font-size: 2rem;
}

.leyenda__dragon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background: radial-gradient(#000000, #c7c7c7, #000000);
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: -2;
  grid-row: 3/1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leyenda__imagen {
  width: 200%;
  height: 100%;
}

@media (max-width: 768px) {
  .leyenda {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .leyenda__dragon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    background: radial-gradient(#000000, #c7c7c7, #000000);
    padding: 5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .leyenda__imagen {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 425px) {
  .leyenda {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .leyenda__texto {
    background-color: #161a1d;
    width: 100%;
    height: 100%;
    padding: 2rem;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .leyenda__dragon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    background: radial-gradient(#000000, #c7c7c7, #000000);
    padding: 5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .leyenda__imagen {
    height: auto;
    width: 120vw;
  }
}

.clientes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 3rem;
  background-color: #181313;
  color: white;
  grid-gap: 1rem;
}

.cliente {
  color: goldenrod;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}

.cliente h3 {
  font-size: 2rem;
}

.cliente__color {
  color: goldenrod;
}

@media (max-width: 768px) {
  .clientes {
    padding: 2rem;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
  }
  .cliente {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    margin: 1.5rem;
  }
}

@media (max-width: 768px) {
  .clientes {
    padding: 2rem;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
  }
  .cliente {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    margin: 1.5rem;
  }
}

.fabrica {
  background-image: url(/backgroundprueba/fabricabaner.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: gray;
}

.fabrica__titulo {
  font-size: 3rem;
}

.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #660708;
  color: white;
  width: 100%;
  height: 100vh;
}

.nosotros__texto {
  color: goldenrod;
}

.nosotros__imagen {
  padding: 2rem;
}

@media (max-width: 768px) {
  .nosotros {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 5rem;
    height: 80vh;
  }
  __texto {
    color: goldenrod;
  }
  __imagen {
    padding: 2rem;
  }
}

@media (max-width: 425px) {
  .nosotros__imagen {
    width: 83%;
  }
  .nosotros {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 60vh;
  }
}

.contacto {
  background-color: #161a1d;
  color: white;
  display: block;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem;
}

.contacto__titulo {
  font-size: 2rem;
}

.contactate {
  background-image: url(/backgroundprueba/portadacontacto.jpg);
  height: 65vh;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: 50% 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #161a1d;
}

.contactate__titulo {
  color: black;
  font-size: 3rem;
}

.contactate__wsp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #660708;
  height: 20vh;
}

.contactate__wsp--titulo {
  font-size: 2rem;
}

.boton__contacto {
  padding: 0rem 2rem;
  font-size: 3rem;
  border: solid black;
  text-decoration: none;
  color: black;
}

.boton__contacto:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  background-color: rgba(48, 138, 30, 0.555);
}

.portada {
  background-image: url(/backgroundprueba/3beer.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  contain: style;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: 50% 50%;
}

.boton__tienda {
  padding: 0rem 2rem;
  font-size: 3rem;
  border: solid black;
  text-decoration: none;
  color: black;
}

.boton__tienda__tienda--hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  background-color: rgba(143, 135, 135, 0.322);
}

.boton__tienda:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  background-color: rgba(143, 135, 135, 0.322);
}

.shop {
  background-color: whitesmoke;
}

.shop__galeria {
  margin: 6rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  text-align: center;
  justify-items: center;
}

.galeriabeer {
  width: 20rem;
}

.botton__producto {
  font-family: "Bebas Neue";
  font-size: 1em;
  background-color: #dd1d1d;
  border-radius: 4px;
  font-weight: 100;
  padding: 1rem;
  margin: 0rem 1rem 0rem;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
}

.botton__producto__producto:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

@media only screen and (max-width: 768px) {
  .shop__galeria {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    overflow: hidden;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  .portada {
    height: 70vh;
  }
}

@media only screen and (max-width: 425px) {
  .shop__galeria {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    overflow: hidden;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  .portada {
    height: 40vh;
  }
}

@media only screen and (min-width: 1024px) {
  .shop__galeria {
    overflow: hidden;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 1440px) {
  .shop__galeria {
    overflow: hidden;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}

@media (max-width: 375px) {
  .shop__galeria {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    margin-bottom: 4rem;
  }
  .portada {
    height: 40vh;
  }
  .boton__tienda {
    padding: 0rem 1rem;
    font-size: 3rem;
    border: solid black;
    text-decoration: none;
    color: black;
  }
  .botton__producto {
    width: 75%;
  }
}

.footer {
  width: 100%;
  background-color: grey;
}

.footer__1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.footer__box figure {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__img {
  width: 150px;
}

.footer__box--titulo {
  color: white;
}

.footer__red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #535353;
  text-align: center;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.footer__red-social a:hover {
  color: #660708;
}

.footer__2 {
  background-color: dimgrey;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.footer__2 small {
  font-size: 1rem;
}

.footer__box--legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 4rem;
}

.footer__box--legal--subrayado {
  text-decoration: none;
  font-size: 1rem;
  color: white;
}

.footer__box--legal--subrayado:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .footer__1 {
    width: 90%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

.conocebeer {
  background-color: #660708;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conocebeer__h2 {
  font-size: 2rem;
  color: goldenrod;
  margin: 1rem 0rem 0.5rem 0rem;
}

.conocebeer__p {
  margin: 0rem 0rem 1rem 0rem;
  color: white;
}

.conocebeer__button {
  font-family: "Bebas Neue";
  font-size: 1.7em;
  background-color: transparent;
  border: groove black;
  font-weight: 100;
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  margin: 0.5rem 0rem 1rem 0rem;
}

.conocebeer__button:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

@media (max-width: 768px) {
  .conocebeer {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */