.clientes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.1rem;
  align-items: center;
  text-align: center;
  padding-bottom: 3rem;
  background-color: #181313;
  color: white;
  grid-gap: 1rem;
}

.cliente {
  color: goldenrod;
  grid-column: 1/5;

  & h3 {
    font-size: 2rem;
  }

  &__color {
    color: goldenrod;
  }
}

@media (max-width: 768px) {
  .clientes {
    padding: 2rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .cliente {
    grid-column: 1/2;
    margin: 1.5rem;
  }
}

@media (max-width: 768px) {
  .clientes {
    padding: 2rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .cliente {
    grid-column: 1/2;
    margin: 1.5rem;
  }
}
