* {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-family: "Bebas Neue";
}

.header {
  width: 100%;
  height: 100px;
  clear: both;
  text-align: right;
  display: inline;
  position: fixed;

  &__logo {
    margin: auto;
    line-height: 50px;
  }

  &__titulo {
    font-size: 1.2rem;
    line-height: 50px;
    color: black;
  }

  &__nav {
    margin: 2rem;
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    flex-flow: nowrap;
    align-items: center;
    list-style: none;
    color: black;
  }

  &__nav--subrayado {
    margin: 2rem;
  }

  &__nav--subrayado:hover {
    text-decoration: underline;
  }
}

.menu {
  background: none;
  border: none;
  font-size: 30px;
  line-height: 60px;
  display: none;
}

@media (max-width: 768px) {
}
