* {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-family: "Bebas Neue";
}

.header {
  width: 100%;
  clear: both;
  text-align: right;
  display: inline;
  position: absolute;

  &__logo {
    max-width: 4%;
    margin: auto;
    float: left;
    padding: 15px;
  }

  &__titulo {
    float: left;
    font-size: 1.2rem;
    padding: 3rem 0rem 0rem 0rem;
    margin-top: 1.2rem;
  }

  &__nav {
    margin: 2rem;
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    flex-flow: nowrap;
    align-items: center;
    list-style: none;
    color: black;
  }

  &__nav--subrayado {
    margin: 2rem;
  }

  &__nav--subrayado:hover {
    text-decoration: underline;
  }
}
