.portada {
  background-image: url(/backgroundprueba/3beer.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 130vh;
  display: flex;
  contain: style;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: 50% 50%;
}

.boton__tienda {
  padding: 0rem 2rem;
  font-size: 3rem;
  border: solid black;
  text-decoration: none;
  color: black;

  &__tienda--hover {
    transform: scale(1.1, 1.1);
    background-color: rgba(143, 135, 135, 0.322);
  }
}

.boton__tienda:hover {
  transform: scale(1.1, 1.1);
  background-color: rgba(143, 135, 135, 0.322);
}

.shop {
  background-color: whitesmoke;

  &__galeria {
    margin: 6rem;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    justify-items: center;
  }
}

.galeriabeer {
  width: 18rem;
}

.botton__producto {
  font-family: "Bebas Neue";
  font-size: 1em;
  background-color: rgb(221, 29, 29);
  border-radius: 4px;
  font-weight: 100;
  padding: 1rem;
  margin: 0rem 1rem 0rem;
  text-decoration: none;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  justify-self: center;

  &__producto:hover {
    transform: scale(1.1, 1.1);
  }
}

@media only screen and (max-width: 768px) {
  .shop__galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    overflow: hidden;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

  .portada {
    height: 70vh;
  }
}

@media only screen and (max-width: 425px) {
  .shop__galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    overflow: hidden;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .portada {
    height: 80vh;
    background-size: 200%;
  }
}

@media only screen and (min-width: 1024px) {
  .shop__galeria {
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}
@media only screen and (min-width: 1440px) {
  .shop__galeria {
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}

@media (max-width: 375px) {
  .shop__galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin-bottom: 4rem;
  }
  .portada {
    height: 80vh;
    background-size: 220%;
  }

  .boton__tienda {
    padding: 0rem 1rem;
    font-size: 3rem;
    border: solid black;
    text-decoration: none;
    color: black;
  }

  .botton__producto {
    width: 75%;
  }
}
